*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #efefef;
}

#search{
    height:45px ;
    font-size: 15px;
    width:50%;
    border-radius: 10px;

    
}
div{
    display: flex;
    flex-direction: row;
    
}

main{
    margin: 35px;
    display: flex;
    justify-content: center;
    
}

main  p{
    padding: 20px;
    margin: 70px 20px;
    border: 2px solid black;
    border-radius: 6px;
    display: flexbox;
    font-size:20px;
    font-weight: bold;
    background-color:white;
    
}

.retro{
    margin-left: 190px;
    display: flex;
    flex-direction: row-reverse;
}

